/* page.module.css */

.bodyWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('/assets/images/bg1.jpg');
    background-size: cover;
    background-position: center;
}

.wrapper {
    width: 420px;
    padding: 20px;
    margin: 15px;
    backdrop-filter: blur(100px);
    border-radius: 40px;
    box-shadow: 0 0 10px;
}

.wrapper h1 {
    font-size: 26px;
    text-align: center;
    color: var(--bistre-);
    padding: 10px;
}

.wrapper p {
    padding: 10px;
    font-size: 15px;
    text-align: center;
}

.quote {
    font-style: italic;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.inputBox {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 20px 0;
}

.input {
    width: 100%;
    height: 100%;
    border-radius: 40px;
    padding: 20px;
    border: 1px solid var(--bistre-);
}

.input::placeholder {
    color: var(--chamoisse-);
}

.icon {
    position: absolute;
    right: 20px;
    top: 25%;
    transform: translate(-50%);
    font-size: 25px;
}

.rememberForgot {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    font-size: 15px;
    margin: 15px;
    align-items: center;
}

.submitButton {
    width: 100%;
    height: 45px;
    background: var(--bistre-);
    border-radius: 40px;
    border: none;
    cursor: pointer;
    color: var(--beige-);
    font-weight: 500;
    font-size: 15px;
}

.submitButton:hover {
    background-color: var(--coffee-);
}

.submitButton:active {
    background-color: var(--chamoisse-);
}

.error {
    color: red;
}

.toggleBtn:hover {
    color: orange;
}

@media (min-width: 480px) {
    .rememberForgot {
        flex-direction: row;
        justify-content: space-between;
    }
}
  