@import url(theme-styles.css);

.course-card{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    border: .5px solid var(--bistre-);
    border-left: 10px solid var(--coffee-);
    position: relative;
    padding: 35px 10px 10px;
    background-color: white;
    transition: transform 0.5s ease;
}

.course-card:hover{
    transform: scale(1.015);
}

.hover-underline:hover .card-course-name{
    text-decoration: underline;
}

.card-flag {
    position: absolute;
    top: 0;
    left: 15px;
    display: block;
    padding: 1px 10px 4px;
    background-color: var(--chamoisse-);
    border-radius: 0px 0px 10px 10px;
    p {
        font-size: .9rem;
        color: var(--beige-);
        
    }
}

.card-seats {
    display: flex;
    align-items: center;
    gap: 2px;
    position: absolute;
    top: 5px;
    right: 40px;
    border-radius: 15px;
    background-color: var(--chamoisse-);
    padding: 4px 10px;
    i, p{
        color: var(--beige-);
    }

    i{
        cursor: default;
        font-size: 1rem;
    }

    p{
        font-size: .7rem;
    }
}

.card-course-section-location, .card-course-instructor {
    p, span{
        font-size: .8rem; 
    }
}

.card-course-section-location {
    display: flex;
    justify-content: space-between;
}

.card-course-name {
   p {
    font-size: .95rem;
    font-weight: bold;
   } 
}

.card-course-sem-schedule {
    display: flex;
    justify-content: space-between;
    p {
        width: 4.8rem;
        font-size: .65rem;
        border-radius: 5px;
        text-align: center;
        i{
            color: var(--bistre-);
            display: block;
        }
    }
}


