@import url(theme-styles.css);

.course-card-list {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    cursor: pointer;
}

.course-card{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    border: .5px solid var(--bistre-);
    border-left: 10px solid var(--coffee-);
    position: relative;
    padding: 35px 10px 10px;
    background-color: white;
    transition: transform 0.5s ease;
}

.course-card:hover {
    transform: scale(1.01);
}

.course-card:hover .card-course-name{
    text-decoration: underline;
}

.card-flag {
    position: absolute;
    top: 0;
    left: 15px;
    display: block;
    padding: 1px 10px 4px;
    background-color: var(--chamoisse-);
    border-radius: 0px 0px 10px 10px;
    p {
        font-size: .9rem;
        color: var(--beige-);
        
    }
}

.card-course-section-location, .card-course-instructor {
    p, span{
        font-size: .8rem; 
    }
}

.card-course-section-location {
    display: flex;
    justify-content: space-between;
}

.card-course-name {
   p {
    font-size: .95rem;
    font-weight: bold;
   } 
}

.card-course-sem-schedule {
    display: flex;
    justify-content: space-between;
    p {
        width: 4.8rem;
        font-size: .65rem;
        border-radius: 5px;
        text-align: center;
        i{
            color: var(--bistre-);
            display: block;
        }
    }
}