@import url(theme-styles.css);

body {
    background-color: white
}

main {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin: 20px;
    >h1 {
        padding: 15px 0px;
    }
}

.welcome-img img{
    width: 100%;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; 
    
}
.registered-courses {
    padding: 15px;
}

.course-card-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (min-width: 1024px) {

    main {
        display: grid;
        gap: 15px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr auto auto;
        grid-template-areas: 
        "title title"
        "welcome-stats welcome-img"
        "courses-header courses-header"
        "courses courses"
        ;
        >h1:nth-child(1) {
            grid-area: title;
        }
        >h1:nth-child(2) {
            grid-area: courses-header;
        }
    }

    .welcome-stats {
        grid-area: welcome-stats;
    }

    .welcome-img {
        grid-area: welcome-img;
        align-self: center;
        justify-self: center;
        img{
            height: 27vw;
        }
    }

    .registered-courses {
        grid-area: courses;
    }
}

