.card-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.pFcourses{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bx-filter{
    color: #a07856;
    font-size: 30px;
}

@media (min-width: 1024px) {

    .card-group{
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
    .pFcourses{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

}