@import url(theme-styles.css);

@media (min-width: 1024px) {

    .course-card-list {
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }

}