@import url(theme-styles.css);

body {
    background-color: white
}

main {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin: 20px;
    >h1 {
        padding: 15px 0px;
    }
}

.section-style {
    border: 1px solid var(--coffee-);
    background-color: var(--light-beige-);
    border-radius: 10px;
}

.welcome-stats {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 20px;

    p {
        font-size: .9rem;
    }

    >p span:nth-child(1) {
        color: maroon;
        font-weight: bold;
    }

    >p span:nth-child(2) {
        font-weight: bold;
        font-size: .9rem;
    }
}

.stats-card {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    >div {
        display: flex;
        justify-content: space-between;

        >span:nth-child(1){
            font-weight: bold;
        }

        >span {
            font-size: .8rem;
        }
    }
}

#bar-percentage {
    font-weight: bold;
    color: var(--bistre-); /* adjusted with javascript */ 
    padding-left: 10px;  
}

#progress-bar {
    flex-grow: 1;
    background-color: white;
    border-radius: 13px;
    padding: 3px;
    border: 1px solid var(--bistre-);
  
  >div {
    background-color: var(--chamoisse-);
    width: 40%; /*Will be adjusted with javascript*/
    height: 20px;
    border-radius: 10px;
  }
}

.welcome-img img{
    width: 100%;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; 
    
}
.registered-courses {
    padding: 15px;
}

.course-card-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
