@import url(theme-styles.css);

*{
    margin: 0;
    padding: 0;
    color: var(--bistre-);
    box-sizing: border-box;
    font-family: var(--font-theme-);
    font-size: 1.0rem;
}

body {
    background-color: var(--light-beige-);
}

main {
    margin: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

h1{
    font-size: 1.7rem
}

.page-header {
    display: flex;
    align-items: center;
    gap: 5px;

    i {
        cursor: default;
        color: var(--bistre-);
        font-size: 1.7rem;
    }
}

.section-header {
    width: fit-content;
    background-color: var(--chamoisse-);
    border-radius: 15px;
    padding: 5px 10px;
    h1 {
        color: var(--beige-);
    }
}

.header-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course-info {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--bistre-);
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--beige-);
}

.course-btn {
    cursor: pointer;
    border-radius: 5px;
    padding: 2px 5px;
    border: none;
    i {
        font-size: 1.1rem;
    }
}

.edit-btn {
    background-color: var(--chamoisse-);
    i {
        color: var(--beige-);
    }
}

.save-btn:hover {
    background-color: darkgreen;
}

.cancel-btn:hover {
    background-color: crimson;
}

.edit-btn:hover {
    background-color: var(--coffee-);
}

.prerequisite-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    p {
        color: var(--beige-);
    }
    div {
        background-color: var(--chamoisse-);
        border-radius: 15px;
        padding: 5px 10px;
    }
}

.info-header {
    display: flex;
    align-items: center;
    gap: 5px;
    i, h2 {
        font-size: 1.3rem;
        color: var(--bistre-);
    }
}

.red-box , .green-box{
    width: 1.05rem;
    height: 1.05rem;
    border: 1.5px solid black;
}

.red-bg {
    background-color: red;
}

.green-bg {
    background-color: green;
}


table {
    border-collapse: collapse;
    border-radius: 10px;
    border-style: hidden;
    background-color: var(--light-beige-);
    box-shadow: 0 0 0 1px #666;
    overflow: hidden;
}

th, td {
    padding: 12px;
}
  
th {
    background-color: #f0e6cc;
    width: 35%;
    text-align: left;
}

.course-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border: 1px solid var(--bistre-);
    padding: 20px;
    background-color: var(--beige-);
    gap: 10px;
}

.semester-filter, .approval-filter, .section-status-filter {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
    label {
        font-weight: bold;
    }
    select {
        padding: 5px;
        border-radius: 5px;
    }
}

.section-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: #f0e6cc;
    border: 1px solid var(--bistre-);
    border-radius: 15px;
}

.card-course-statuses {
    display: flex;
    justify-content: space-around;
    p {
        font-size: .65rem;
    }
}

.statuses {
    text-align: center ;
    >p {
        font-weight: bold;
    }
}

.status-value {
    margin: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 15px;
    i {
        color: var(--bistre-);
    }
}

.approval-type {
    padding: 2px 7px;
    border: 1px solid var(--bistre-);
}

.section-type {
    border: none;
    padding: 5px 10px;
    p {
        color: white;
        font-weight: 500;
    }
}

.completed-card {
    background-color: green;
}

.ongoing-card{
    background-color: orange;
}

.open-for-reg-card{
    background-color: blue;
}   

.section-btn {
    cursor: pointer;
    border-radius: 15px;
    border: none;
    padding: 1px 3px;
    
    i {
        font-size: 1rem;
    }
}

.section-btns {
    display: flex;
    gap: 5px;
    position: absolute;
    top: 5px;
    right: 10px;
}

.empty-section {
    text-align: center;
    i {
        font-size: 5rem;
        color: var(--bistre-);
    }

    p {
        font-weight: 500;
        font-size: 2rem;
    }
}

@media (min-width: 600px) {
    .section-list {
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    }
}
