@import url(theme-styles.css);

*{
    margin: 0;
    padding: 0;
    color: var(--bistre-);
    box-sizing: border-box;
    font-family: var(--font-theme-);
}

nav {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 20px 30px;
    background-color: var(--chamoisse-);
    box-shadow: 0 0 15px;
    border-bottom-left-radius: 15px ;
    border-bottom-right-radius: 15px ;
    height: 100px;
}

#nav-img-header{
    display: flex;
    column-gap: 5em;
}

.nav-index:hover{
    background-color: var(--coffee-);
    padding: 10px;
    border-radius: 10px;
    transition: .5s;
    i, a{
    font-size: 20px;
    }
}

.active {
    background-color: maroon;
    padding: 10px;
    border-radius: 10px;
    transition: .5s;
    i, a{
        font-size: 20px;
        }
}

nav ul li a, i {
    color: var(--beige-);
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: .7s;
    
}

.largeMenuList {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 30px;
}

.openMenuList{
    display: flex;
    flex-direction: column; 
    list-style: none;
    align-items: center;
    gap: 30px;
    position: absolute;
    top: 100px;
    left: 0px;
    right: 0px;
    background-color: var(--chamoisse-);
    border-bottom-left-radius: 15px ;
    border-bottom-right-radius: 15px ;
    overflow: hidden;
    padding: 20px;
    box-shadow: 0 4px 2px -2px grey;
    max-height: 350px;
    transition: 1s;
    z-index: -1;
}

.closeMenuList {
    opacity: 0;
    transform: translateY(-400px);
}

#nav-title{
    display: none;
}

#menu-icon {
    display: none;
}

#short-qu-logo {
    display: none;
}

/* For Smaller than Desktops Screes (Tablets/Phones)*/
@media (max-width: 1024px) {
    #menu-icon {
        display: block;
        margin-top: auto;
        margin-bottom: auto;
        i{
            color: var(--beige-);
            text-decoration: none;
            font-size: 30px;
            font-weight: bold;
            transition: .7s;
        }
    }
    #nav-title{
        display: block;
        margin-top: auto;
        margin-bottom: auto;
        font-size: 20px;
        color: var(--beige-);
        font-weight: bold;
    }

}

/* For Phone (Landscape) and Tablet (Portrait)*/
@media (max-width: 768px) {
    #long-qu-logo {
        display: block;
    }

    #short-qu-logo {
        display: none;
    }

    #nav-title{
        display: none;
    }
}

/* For Phone (Portrait)*/
@media (max-width: 480px) {
    #long-qu-logo {
        display: none;
    }

    #short-qu-logo {
        display: block;
    }

    #nav-title{
        display: none;
    }
}