@import url(theme-styles.css);

* {
    list-style-type: none;
}

body{
    background-color: var(white);
}

main {
    display: flex;
    flex-direction: column;
    margin: 10px;
    gap: 20px;
}

#pre-courses{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 300px));
    gap: 1rem;
    justify-content: flex-start;
}

.course-completed{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.green{
    color: green;
}

.red{
    color: red;
}

#reg-btn{
    width: 100%;
    padding: 1rem;
    background-color: var(--coffee-);
    color: white;
    border-radius: 20px;
    border: 1px solid var(--coffee-);
}

#reg-btn:hover{
    cursor: pointer;
}

#note {
    font-weight: 500;
}