@import url(theme-styles.css);

* {
    list-style-type: none;
}

body{
    background-color: var(white);
}

main {
    display: flex;
    flex-direction: column;
    margin: 10px;
    gap: 20px;
}

main>h1 {
    text-align: center; 
    font-size: 1.5rem;
    margin-top: 10px;
    background-color: var(--chamoisse-);
    color: var(--beige-);
    padding: 6px 10px;
    border-radius: 10px;
}

h1 {
    font-size: 1.5rem;
}

#pre-courses{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 300px));
    gap: 1rem;
    justify-content: flex-start;
}

.course-completed{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.green{
    color: green;
}

.red{
    color: red;
}
