.cardGroup {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.pFcardGroup {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.pFcourses{
    display: flex;
    flex-direction: column;
}

.pFcardGroup, .cardGroup {
    padding: 10px;
}


@media (min-width: 1024px) {

    .cardGroup{
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
    .pFcardGroup{
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }

}