*{
    margin: 0;
    padding: 0;
    color: var(--bistre-);
    box-sizing: border-box;
    font-family: var(--font-theme-);
    font-size: 1.0rem;
}

:root{
    --light-beige- : #fafaf3;
    --beige- : #FAF0E6;
    --khaki- : #cbb799;
    --chamoisse- : #a07856;
    --coffee-: #6f4d38;
    --bistre-: #3d211a;
    --font-theme-: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* common classes */

.empty-section {
    text-align: center;
    align-self: center;
    i {
        font-size: 5rem;
        color: var(--bistre-);
    }

    p {
        font-weight: 500;
        font-size: 2rem;
    }
}

.section-style {
    border: 1px solid var(--coffee-);
    background-color: var(--light-beige-);
    border-radius: 10px;
}

.welcome-stats, .achievements {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 20px;

    p {
        font-size: .9rem;
    }

    p span:nth-child(1) {
        color: maroon;
        font-weight: bold;
    }

    p span:nth-child(2) {
        font-weight: bold;
        font-size: .9rem;
    }
}

.stats-card {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    >div {
        display: flex;
        justify-content: space-between;

        >span:nth-child(1){
            font-weight: bold;
        }

        >span {
            font-size: .8rem;
        }
    }
}

#bar-percentage {
    font-weight: bold;
    color: var(--bistre-);
    padding-left: 10px;  
}

#progress-bar {
    flex-grow: 1;
    background-color: white;
    border-radius: 13px;
    padding: 3px;
    border: 1px solid var(--bistre-);
  
  >div {
    background-color: var(--chamoisse-);
    height: 20px;
    border-radius: 10px;
  }
}

main>h1:first-child {
    text-align: center; 
    font-size: 1.5rem;
    margin-top: 10px;
    background-color: var(--chamoisse-);
    color: var(--light-beige-);
    padding: 3px 10px;
    border-radius: 10px;
}